@import url('https://fonts.cdnfonts.com/css/calculator');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Calculator', sans-serif, Times, serif;
    font-weight: normal;
}

body {
   padding: 0;
    margin: 0;
      margin-top: 0px;
    background: linear-gradient(to right, #00aaff, #00ff6c);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
.container {
    border: 2px solid rgba(47, 48, 48, 0.75);
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    
}
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 5px;
}  
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 25px;
    border: 1px solid #e3e1d5;
    outline: none;
    background-color: rgba(230, 229, 223, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }

  .output {
    grid-column: 1 / -1;
    background-color: rgba(109, 123, 135, .75);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    caret-color: transparent;
  }

  .previous-operand {
    color: rgba(47, 48, 48, .75);
    font-size: 2rem;
  }
  .current-operand {
    color: rgba(0, 0, 0, 0.75);
    font-size: 3rem;
  }
#del-button {
    background-color: #ba2929;
}
#del-button:hover {
    background-color: #f53333;
}
#ac-button {
    background-color: #3dbf4c;
}
#ac-button:hover {
    background-color: #4cfc60;
}
